.stroke {
  -webkit-text-stroke: 0.6px rgba(250, 250, 250, 0.53);
}
.stroke1 {
  -webkit-text-stroke: 0.1px rgba(153, 153, 153, 1);
  -webkit-text-fill-color: black;
}

.section {
  @apply h-[100dvh];
  /* @apply h-[100dvh] bg-hero1 bg-300 bg-semiCenter1 bg-no-repeat  mix-blend-normal; */

  &_fadedbg {
    @apply h-[100dvh] w-full absolute bg-slate-900 bg-opacity-50 z-0;
  }
}
