.container {
  @apply w-4/5 mx-auto pt-4;
}

.policy-points ol {
  counter-reset: item;
  @apply text-base;
}
.policy-points li {
  display: block;
  @apply mt-2;
}
.policy-points li:before {
  content: counters(item, ".") " ";
  counter-increment: item;
}

h1 {
  @apply text-4xl font-bold text-center mb-4 xl:text-5xl;
}

p {
  @apply mb-4 xl:text-xl;
}

.title1 {
  @apply text-lg xl:text-xl;
}

.titles {
  @apply text-lg mt-3 xl:text-2xl;
}

.bottom {
  @apply text-lg my-8 xl:text-xl;
}

li {
  @apply xl:text-xl xl:pt-4;
}
